* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: dashed;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    /* border: 1px solid red; */
    background-color: rgb(196, 196, 196);
}

nav {
    width: 1190px;
    height: 32px;
    font-size: 12px;
    line-height: 30px;
    /* background-color: #999; */
    margin-left: auto;
    margin-right: auto;
}

.area {
    /* border: 1px solid red; */
    color: #333;
    float: left;
    margin-left: 10px;
    /* margin-top: 7px; */
}

.nav {
    /* border:1px solid green; */
    font-size: 12px;
    line-height: 30px;
    float: right;
    /* display:inline-block; */
    /* margin-top: 7px; */
    margin-right: 10px;
}

.nav li {
    /* border: 1px solid red; */
    float: left;
}

.nav li a {
    color: #333;
}

.area:hover,
.nav li a:hover {
    color: rgb(177, 10, 10);
}

main {
    /* outline: 1px solid purple; */
    width: 1190px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.main {
    margin-top: 10px;
}

.left-list,
.focus-img,
.recommend-img,
.user-inner {
    float: left;
}

.left-list {
    width: 190px;
    height: 470px;
    background-color: #f4f4f4;
    margin-right: 10px;
    padding: 10px 0;
}

.left-list li {
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    font-size: 12px;
}

.left-list li:hover {
    background-color: #999;

}

.left-list li a {
    font-size: 14px;
    color: #333;
}

.left-list li a:hover {
    color: #b8083a;
}

.focus-img {
    width: 590px;
    height: 470px;
    overflow: hidden;
    /* background-color: #5e5c5c; */
    margin-right: 10px;
    position: relative;
}

.focus-img li {
    position: absolute;
}

.focus-img li:nth-child(1) {
    z-index: 1;
}

.pointer {
    position: absolute;
    z-index: 999;
    bottom: 20px;
    left: 20px;
}

.pointer a {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    background-clip: content-box;
    border: 2px solid transparent;
    margin: 0 2px;
}

.pointer a.active,
.pointer a:hover {
    background-color: #fff;
    /* box-shadow: 2px 2px 10px rgba(255, 255, b255, 0.6); */
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.recommend-img {
    width: 190px;
    /* height: 470px; */
    /* background-color: #7c7c7c; */
    overflow: hidden;
    margin-right: 10px;
}

.recommend-img li {
    margin-bottom: 6px;
}

.recommend-img li:last-child {
    margin-bottom: -6px;
}

.recommend-img img {
    width: 100%;
}

.user-inner {
    width: 190px;
    height: 470px;
    background-color: #ebebeb;
    /* margin-right: 10px; */
}

.logo {
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    float: left;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}

.news {
    border: 1px solid red;
}

.jd-news {
    border: 1px solid red;
    float: left;
}

.more {
    float: right;
}

.news ul li {
    width: 100%;
    border: 1px solid blue;
    float: left;
}

.channels {
    width: 1190px;
    height: 180px;
    /* outline: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
}
.images{
    width: 290px;
    height: 180px;
    /* outline: 1px solid orangered; */
    background-color: antiquewhite;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.x{
    margin-right: -10px;
}